body {
    background: linear-gradient(to right, #90f9cf 0%, #ffffff 20%, #ffffff 80%, #90f9cf 100%);
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
    }
.nav_bar {
    font-size: 35px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #020935;
}
.row {
}
.col-12 {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
    background: url(../image/images.png) no-repeat center center;
    background-size: 100%;
    width: 80px;
    height: 80px;
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48b489;
    height: 100%;
}
.img_size {
}
.my_photo {
    background: url(../image/to_river.jpeg) no-repeat top center;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Добавляем этот стиль для центрирования блока по горизонтали */
    display: flex;
    justify-content: center;
    align-items: center;
}


.last_row {
    text-align: center;
}
.button_js {
    text-align: center;
}

#myButton {
    background-color: #90f9cf; /* Цвет фона кнопки */
    border: none; /* Убираем границу */
    color: #020935; /* Цвет текста */
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Делаем кнопку блочным элементом */
    font-size: 20px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы кнопки */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 10px; /* Закругление углов кнопки */
}

#myButton:hover {
    background-color: #45a049; /* Изменение цвета фона при наведении */
}

#demo img{
    margin-top: 20px;
    width: 40%;
}