body {
    background: linear-gradient(to right, #90f9cf 0%, #ffffff 20%, #ffffff 80%, #90f9cf 100%);
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
    }
.nav_bar {
    font-size: 35px;
    font-weight: bold;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #020935;
}
.row {
    display: flex;
    justify-content: space-between; /* Распределяем элементы равномерно по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
}

.col-12 {
    justify-content: center; /* Выравниваем объекты по горизонтали по центру */
    align-items: center; /* Выравниваем объекты по вертикали по центру */
}

.col-12 h1 {
    text-align: center;
}

.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
    background: url(../image/images.png) no-repeat center center;
    background-size: 100%;
    width: 80px;
    height: 80px;
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48b489;
    height: 100%;
}
.img_size {
}

.my_photo {
    background: url(../image/to_river.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%; /* Ширина блока занимает 100% ширины контейнера */
    height: 500px; /* Задаем высоту блока в пикселях */
    display: flex;
    justify-content: center;
    align-items: center;
}


.last_row {
    text-align: center;
}
.button_js {
    text-align: center;
}

#myButton {
    background-color: #90f9cf; /* Цвет фона кнопки */
    border: none; /* Убираем границу */
    color: #020935; /* Цвет текста */
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Делаем кнопку блочным элементом */
    font-size: 20px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы кнопки */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 10px; /* Закругление углов кнопки */
}

#myButton:hover {
    background-color: #45a049; /* Изменение цвета фона при наведении */
}

#postButton {
    background-color: #90f9cf; /* Цвет фона кнопки */
    border: none; /* Убираем границу */
    color: #020935; /* Цвет текста */
    padding: 15px 32px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание текста */
    display: inline-block; /* Делаем кнопку блочным элементом */
    font-size: 20px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы кнопки */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 10px; /* Закругление углов кнопки */
}

#postButton:hover {
    background-color: #45a049; /* Изменение цвета фона при наведении */
}


#demo img{
    margin-top: 20px;
    width: 40%;
}

.regis {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #020935;
    height: 100%;
}

.col-6 {
    width: 48%; /* Ширина колонки 48% с учетом 2% отступа между ними */
}

input[type="text"],
textarea {
    display: block; /* Установите элементы как блочные */
    margin: 0 auto; /* Установите автоматичесные отступы слева и справа, чтобы выровнять по центру горизонтально */
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}



.photo_a {
    visibility: hidden; /* Начальное состояние: блок скрыт */
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: flex-end; /* Выравниваем по горизонтали слева */
    align-items: center; /* Выравниваем по вертикали по центру */
    height: 100%; /* 100% высоты родительского контейнера */
    margin-left: auto; /* Отступ между первой и второй картинкой */
}

.photo_i {
    visibility: hidden; /* Начальное состояние: блок скрыт */
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: flex-start; /* Выравниваем по горизонтали справа */
    align-items: center; /* Выравниваем по вертикали по центру */
    height: 100%; /* 100% высоты родительского контейнера */
    margin-left: auto; /* Отступ между второй и первой картинкой */
}

.photo_a img {
    width: 300px; /* 100% ширины родительского контейнера */
    height: 397px; /* Поддерживаем пропорциональное изменение высоты */
    max-width: 100%; /* Ограничение ширины до 100% */
    max-height: 100%; /* Ограничение высоты до 100% */
    border-radius: 10px; /* Добавляем скругление углов */
    transform: scale(0.8); /* Уменьшаем размер изображения до 80% */
    filter: blur(0px); /* Добавляем размытие краев */
    vertical-align: top center;
}

.photo_i img {
    width: 300px; /* 100% ширины родительского контейнера */
    height: 397px; /* Поддерживаем пропорциональное изменение высоты */
    max-width: 100%; /* Ограничение ширины до 100% */
    max-height: 100%; /* Ограничение высоты до 100% */
    border-radius: 10px; /* Добавляем скругление углов */
    transform: scale(0.8); /* Уменьшаем размер изображения до 80% */
    filter: blur(0px); /* Добавляем размытие краев */
    vertical-align: top center;
}


/* Общие стили для строки ввода */
.form__reg {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Стили для поля ввода Email */
.form__reg input[type="email"] {
    width: 40%; /* Ширина поля ввода занимает 100% доступной ширины */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учитываем границу в общей ширине поля ввода */
}

/* Стили для поля ввода Логин */
.form__reg input[type="text"] {
    width: 40%; /* Ширина поля ввода занимает 100% доступной ширины */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учитываем границу в общей ширине поля ввода */
}

/* Стили для поля ввода Пароль */
.form__reg input[type="password"] {
    width: 40%; /* Ширина поля ввода занимает 100% доступной ширины */
    padding: 10px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учитываем границу в общей ширине поля ввода */
}

.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.btn__reg {
    margin-top: 15px; /* Добавим немного отступа сверху, чтобы кнопка не прилипала к последнему полю ввода */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругление углов */
    background-color: #45a049; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}

.btn__reg:hover {
    background-color: #5bca9e; /* Цвет фона кнопки при наведении */
}
